<template name="biding">
  <div class="biding">
    <div class="col-md-4">
      <div class="biding-item-image biding-top">
        <img src="{{item.image}}">
      </div>
      <div class="biding-item-detail biding-down">
        <div>ID: Lot-{{item._id}}</div>
        <div>Name: {{item.name}}</div>
        <div>Starting bid: {{item.initPrice}}</div>
        <div>seller's estimate: {{item.estimatePriceFrom}} ~ {{item.estimatePriceTo}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="biding-paddle biding-top">
        <ul>
          {{#each bidPrices}}
            {{> bidPrice}}
          {{/each}}
        </ul>
      </div>
      <div class="biding-down">
        <form class="biding-input-buttion">
          <div class="form-group text-center">
            <label>$: </label>
            <input type="text" name="price" />
          </div>
          <div class="text-center">
            <button type="submit"  class="btn btn-success"> Bid</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="biding-graph">
        {{> bidgraph}}
      </div>
    </div>
  </div>
</template>