<template name="itemDetail">
  <div class="row item-detail-top">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-lg-6 item-detail-image">
          <img src="{{item.image}}">
        </div>
        <div class="col-lg-6">
          <div><span class="item-detail-label">Lot ID: </span> Lot {{item._id}}</div>
          <div class="item-detail-top"><span class="item-detail-label">{{item.name}}</span></div>
<!--           <div class="item-detail-top"><span class="item-detail-label"></span><a href="">Event link here</a></div> -->
          <div class="item-detail-top"><span class="item-detail-label">Event start: </span>{{item.startTime}}</div>
          <div class="item-detail-top"><span class="item-detail-label">Event End: </span>{{item.endTime}}</div>
          <div class="item-detail-top"><span class="item-detail-label">Starting bid: </span> ${{item.initPrice}}</div>
          <div class="item-detail-top"><span class="item-detail-label">Seller's estimate: </span> ${{item.estimatePriceFrom}} To ${{item.estimatePriceTo}}</div>
          <div class="item-detail-top"><a href="/biding/{{item._id}}" class="btn btn-info" role="button">Go to bid</a></div>
        </div>
      </div>

      <div class="row item-detail-top">
        <div class="col-log-8 col-lg-offset-1">
          <ul  class="nav nav-tabs">
            <li class="active">
              <a href="#description" data-toggle="tab">Description</a>
            </li>
            <li >
              <a href="#shippment" data-toggle="tab">Shippment</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="description">
              <p>Seller assumes all responsibility for this listing.</p>
              <p>{{item.description}}</p>
            </div>
            <div class="tab-pane fade in active" id="shippment">
              <p>Seller assumes all responsibility for this listing</p>
              <div>Shipping and handling</div>
              <div>Return policy</div>
              <div>Payment details</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>