<template name="home">
  <div class="home-search-form">
    <form class="row">
      <div class="col-lg-2 col-lg-offset-2 text-right">
        <h4>Fancy Auction</h4>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input name="search" type="text" class="form-control" placeholder="Search for...">
  <!--         <select class="form-control">
            <option>All Catergories</option>
            <option>All Events</option>
            <option>All items</option>
          </select> -->
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      </div><!-- /.col-lg-6 -->
    </form>
  </div><!--/. home-search-form  -->

  <div class="home-body-content">
    <div class="row">
      {{#each items}}
        <div class="col-lg-4">
          <a href="/items/{{_id}}">
            <div class="home-item-image">
              <img src="{{image}}">
            </div>
            <div>ID: {{_id}}</div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</template>