<template name='header'>
  <div class="row">
    <div class="col-md-2 text-right">
    <!--  <a href="/signinregister">Hi, Sign in or Register</a> -->
      {{> loginButtons}}
    </div>
    <div class="col-md-1 text-center"><a href="">All events</a></div>
    <div class="col-md-2 text-left"><a href="">Help & Contact</a></div>
    <div class="col-md-2 col-md-offset-2 text-right glyphicon glyphicon-user"><a href="">My auction</a></div>
    <div class="col-md-1 text-right glyphicon glyphicon-bell"><a href="">Reminder</a></div>
    <div class="col-md-1 text-left glyphicon glyphicon-shopping-cart"><a href="">Cart</a></div>
  </div>
</template>
