<template name='header'>
  <div class="row">
    <div class="col-md-2 text-right"> <a href="">Hi, Sign in or Register</a></div>
    <div class="col-md-1 text-center"><a href="">All events</a></div>
    <div class="col-md-2 text-left"><a href="">Help & Contact</a></div>
    <div class="col-md-2 col-md-offset-2 text-right"><a href="">My fancyAuction</a></div>
    <div class="col-md-1 text-right"><a href="">Reminder</a></div>
    <div class="col-md-1 text-left"><a href="">Cart</a></div>
  </div>
</template>
