<template name='header'>
  <div class="header-top row">
    <div class="col-md-2 text-right header-font-style">
    <!--  <a href="/signinregister">Hi, Sign in or Register</a> -->
      {{> loginButtons}}
    </div>
    <div class="col-md-1 text-center header-font-style"><a href="">All events</a></div>
    <div class="col-md-1 text-center header-font-style"><a href="">All items</a></div>
    <div class="col-md-2 text-left header-font-style"><a href="">Help & Contact</a></div>
    <div class="col-md-2 col-md-offset-1 text-right glyphicon glyphicon-user header-font-style"><a href="">My auction</a></div>
    <div class="col-md-1 text-right glyphicon glyphicon-bell header-font-style"><a href="">Reminder</a></div>
    <div class="col-md-1 text-left glyphicon glyphicon-shopping-cart header-font-style"><a href="">Cart</a></div>
  </div>
</template>
